.DS_Store
.DS_Store?
.*DS_Store*

.*.png
.*.jpg

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
tools/__pycache__

npm-debug.log
node_modules

.idea

*.swp
**/*.swp

static/build.*
